@model CHPOUTSRCMES.Web.ViewModels.Report.YieldViewModel

@{
    ViewBag.Title = "工單得率報表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/report.css")" rel="stylesheet" type="text/css" />

@section scripts {
    <script src="~/Scripts/Report/YieldQuery.js"></script>
    <script src="~/Scripts/moment.js"></script>
}
<div class="customBody row row-std">
    <div class="col-md-12">
        <div class="box box-primary" style="padding:10px 20px;">
            @using (Html.BeginForm("YieldQuery", "Report", FormMethod.Post, new { @id = "QueryForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <table style=" border-spacing:20px 5px">
                    <tr>
                        <td style="text-align: right;">
                            <label style='font-weight:bolder;'>
                                裁切完工日期
                            </label>
                        </td>
                        <td class="input-lg" colspan="3">
                            <input class="customTextBox" type="text" id="dateFrom" tabindex="3" style="width:100px;" autocomplete="off" />
                            ~
                            <input class="customTextBox" type="text" id="dateTo" tabindex="3" style="width:100px;" autocomplete="off" />
                        </td>
                        <td style="text-align: right;">
                            <label style='font-weight:bolder;'>
                                工單號
                            </label>
                        </td>
                        <td class="input-lg">
                            <input class="customTextBox" type="text" id="BatchNo" tabindex="3" style="width:140px;" autocomplete="off" />
                        </td>
                        <td style="text-align: right;">
                            <label style='font-weight:bolder;'>
                                機台
                            </label>
                        </td>
                        <td class="input-lg">@Html.DropDownListFor(model => model.MachineNum, Model.MachineCodeList, new { @class = "customDropDownList", id = "MachineNum", autocomplete = "off" })</td>
                    </tr>
                    <tr>
                        <td style="text-align: right;">
                            <label style='font-weight:bolder;'>
                                料號
                            </label>
                        </td>
                        <td class="input-lg" colspan="3">
                            <input class="ItemNumber customTextBox" type="text" id="ItemNumber" tabindex="3" style="width:250px;" autocomplete="off" />
                        </td>
                        <td style="text-align: right;">
                            <label style='font-weight:bolder;'>
                                條碼號
                            </label>
                        </td>
                        <td class="input-lg">
                            <input class="customTextBox" type="text" id="Barcode" tabindex="3" style="width:140px;" autocomplete="off" />
                        </td>
                        <td style="text-align: right;">
                            <label style='font-weight:bolder;'>
                                倉庫
                            </label>
                        </td>
                        <td class="input-lg">@Html.DropDownListFor(model => model.Subinventory, Model.SubinventoryList, new { @class = "customDropDownList", id = "Subinventory", autocomplete = "off" })</td>
                    </tr>

                    <tr>
                        <td class="input-lg" colspan="8" style=" text-align: right;">
                            <button type="button" id="btnPrint" class="btn btn-primary externalBtn" style="width: 100px;">匯出報表</button>
                        </td>
                    </tr>
                </table>
            }
        </div>
       
        <div id="ReportPartial">
            @Html.Partial("_ReportPartial")
        </div>
    </div>
</div>

