@model CHPOUTSRCMES.Web.ViewModels.Delivery.FlatEditViewModel

@{
    ViewBag.Title = "平張明細輸入";
    ViewBag.EnableReturnButton = "true";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script src="~/Scripts/Delivery/FlatEdit.js"></script>
    <script src="~/Scripts/label.js"></script>
    <script src="~/Scripts/Delivery/DetailViewHeader.js"></script>
}

<div class="nav-tabs-custom" style="padding: 15px;">

    <div id="DeliveryPartial">
        @Html.Partial("_DeliveryPartial", @Model.DeliveryDetailViewHeader)
    </div>

    <div class="row row-std col-md-12 form-inline">
        <div class="input-group col-md-3">
            <span class="input-group-addon" style="width: 53px;">交運單號</span>
            @Html.TextBoxFor(model => model.DELIVERY_NAME, new { @class = "form-control", id = "txtDeliveryName", placeholder = "請輸入交運單號", autocomplete = "off" })
        </div>
        <input type="button" id="btnCheckDeliveryName" value="比對" class="btn btn-danger" />
    </div>

    @*<div class="row row-std">
            <div class="form-inline">
                <div class="form-group col col-md-3 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.DELIVERY_NAME)
                    <span id="DELIVERY_NAME">@Html.DisplayFor(model => model.DeliveryDetailViewHeader.DELIVERY_NAME)</span>
                </div>
                <div class="form-group col col-md-3 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.TRIP_NAME)
                    <span id="TRIP_NAME">@Html.DisplayFor(model => model.DeliveryDetailViewHeader.TRIP_NAME)</span>
                </div>
                <div class="form-group col col-md-3 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.ORDER_NUMBER)
                    @Html.DisplayFor(model => model.DeliveryDetailViewHeader.ORDER_NUMBER)
                </div>
                <div class="form-group col col-md-3 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.TRIP_CAR)
                    @Html.DisplayFor(model => model.DeliveryDetailViewHeader.TRIP_CAR)
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group col col-md-6 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.CUSTOMER_NAME)
                    @Html.DisplayFor(model => model.DeliveryDetailViewHeader.CUSTOMER_NAME)
                </div>
                <div class="form-group col col-md-6 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.CUSTOMER_LOCATION_CODE)
                    @Html.DisplayFor(model => model.DeliveryDetailViewHeader.CUSTOMER_LOCATION_CODE)
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group col col-md-6 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.SHIP_CUSTOMER_NAME)
                    @Html.DisplayFor(model => model.DeliveryDetailViewHeader.SHIP_CUSTOMER_NAME)
                </div>
                <div class="form-group col col-md-6 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.SHIP_LOCATION_CODE)
                    @Html.DisplayFor(model => model.DeliveryDetailViewHeader.SHIP_LOCATION_CODE)
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group col col-md-6 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.TRIP_ACTUAL_SHIP_DATE)
                    @Html.DisplayFor(model => model.DeliveryDetailViewHeader.TRIP_ACTUAL_SHIP_DATE)
                </div>
                <div class="form-group col col-md-6 input-lg">
                    @Html.LabelFor(model => model.DeliveryDetailViewHeader.REMARK)
                    @Html.DisplayFor(model => model.DeliveryDetailViewHeader.REMARK)
                </div>
            </div>
        </div>*@

    <div class="form-group col col-md-12 input-lg">
        @Html.Label("平張需求")
    </div>

    <div class="row row-std">
        <div class="dataTable_wrapper">
            <div class="col-sm-12 col-md-12">
                <table class="table table-striped table-bordered table-hover" id="FlatDataTablesBody">
                    <thead>
                        <tr role="row" class="bg-light-gray">
                            <th rowspan="2" colspan="1"></th>
                            <th rowspan="2" colspan="1">項次</th>
                            <th rowspan="1" colspan="2">訂單</th>
                            <th rowspan="1" colspan="5">商品</th>
                            <th rowspan="1" colspan="3">主單位</th>
                            <th rowspan="1" colspan="3">次單位</th>
                            <th rowspan="1" colspan="3">交易單位</th>
                            @*<th rowspan="2" colspan="1">備註</th>*@
                        </tr>
                        <tr role="row" class="bg-light-gray">
                            @*<th>
                                    @Html.DisplayName("項次")
                                </th>*@
                            <th>
                                @Html.DisplayName("訂單")
                            </th>
                            <th>
                                @Html.DisplayName("訂單行號")
                            </th>

                            <th>
                                @Html.DisplayName("工單號碼")
                            </th>

                            <th>
                                @Html.DisplayName("代紙料號")
                            </th>
                            <th>
                                @Html.DisplayName("料號")
                            </th>
                            <th>
                                @Html.DisplayName("令重")
                            </th>
                            <th>
                                @Html.DisplayName("包裝方式")
                            </th>
                            <th>
                                @Html.DisplayName("需求數量")
                            </th>
                            <th>
                                @Html.DisplayName("已揀數量")
                            </th>
                            <th>
                                @Html.DisplayName("單位")
                            </th>
                            <th>
                                @Html.DisplayName("需求數量")
                            </th>
                            <th>
                                @Html.DisplayName("已揀數量")
                            </th>
                            <th>
                                @Html.DisplayName("單位")
                            </th>
                            <th>
                                @Html.DisplayName("需求數量")
                            </th>
                            <th>
                                @Html.DisplayName("已揀數量")
                            </th>
                            <th>
                                @Html.DisplayName("單位")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col col-md-12 input-lg">
        @Html.Label("揀貨(刷條碼)")
    </div>


    @*<div class="row row-std ">
            <div class="form-inline">

                <div class="col col-md-2 input-lg form-group">
                    @Html.LabelFor(model => model.FlatEditDT_ID, new { @class = "input-lg" })
                    <span id="FlatEditDT_ID">@Html.DisplayFor(model => model.FlatEditDT_ID)</span>
                </div>
                <div class="col col-md-4 input-lg form-group">
                    @Html.LabelFor(model => model.ORDER_NUMBER, new { @class = "input-lg" })
                    <span id="ORDER_NUMBER">@Html.DisplayFor(model => model.ORDER_NUMBER)</span>
                </div>
                <div class="col col-md-3 input-lg form-group">
                    @Html.LabelFor(model => model.ORDER_SHIP_NUMBER, new { @class = "input-lg" })
                    <span id="ORDER_SHIP_NUMBER">@Html.DisplayFor(model => model.ORDER_SHIP_NUMBER)</span>
                </div>

            </div>
        </div>*@

    @*<div class="row row-std ">
            <div class="form-inline">


                <div class="col col-md-6 input-lg form-group">
                    @Html.LabelFor(model => model.ITEM_DESCRIPTION, new { @class = "input-lg" })
                    <span id="ITEM_DESCRIPTION">@Html.DisplayFor(model => model.ITEM_DESCRIPTION)</span>
                </div>
                <div class="col col-md-3 input-lg form-group">
                    @Html.LabelFor(model => model.PACKING_TYPE, new { @class = "input-lg" })
                    <span id="PACKING_TYPE">@Html.DisplayFor(model => model.PACKING_TYPE)</span>
                </div>
            </div>
        </div>*@

    <div class="row row-std ">

        <div class="col-md-12">
            <div style="display: none">
                <span id="DLV_DETAIL_ID"></span>
            </div>
            <div class="col col-md-2 input-lg form-group">
                @Html.LabelFor(model => model.SUB_ID, new { @class = "input-lg" })
                <span id="SUB_ID">@Html.DisplayFor(model => model.SUB_ID)</span>
            </div>
            <div class="col col-md-4 input-lg form-group">
                @Html.LabelFor(model => model.ORDER_NUMBER, new { @class = "input-lg" })
                <span id="ORDER_NUMBER">@Html.DisplayFor(model => model.ORDER_NUMBER)</span>
            </div>
            <div class="col col-md-3 input-lg form-group">
                @Html.LabelFor(model => model.ORDER_SHIP_NUMBER, new { @class = "input-lg" })
                <span id="ORDER_SHIP_NUMBER">@Html.DisplayFor(model => model.ORDER_SHIP_NUMBER)</span>
            </div>
        </div>



        <div class="col-md-12">
            <div style="display: none">
                <span id="INVENTORY_ITEM_ID"></span>
            </div>
            <div style="display: none">
                <span id="PICK_STATUS"></span>
            </div>
            <div style="display: none">
                <span id="SRC_REQUESTED_QUANTITY_UOM"></span>
            </div>
            <div class="col col-md-6 input-lg form-group">
                @Html.LabelFor(model => model.ITEM_NUMBER, new { @class = "input-lg" })
                <span id="ITEM_NUMBER">@Html.DisplayFor(model => model.ITEM_NUMBER)</span>
            </div>
            <div class="col col-md-3 input-lg form-group">
                @Html.LabelFor(model => model.PACKING_TYPE, new { @class = "input-lg" })
                <span id="PACKING_TYPE">@Html.DisplayFor(model => model.PACKING_TYPE)</span>
            </div>
        </div>

        @*    <form class="form-horizontal">
                <div class="form-group">
                <div class="input-group col-sm-3">
                    <span class="input-group-addon">條碼</span>
                    <input type="text" class="form-control" placeholder="MinVal">
                </div>
                <div class="input-group col-sm-3">
                    <span class="input-group-addon">條碼</span>
                    <input type="text" class="form-control" placeholder="MaxVal">
                </div>
            </div>
                </form>*@
        @*<div class="col input-group">
            <h4>test</h4>*@
        @*<span class="input-group-addon">條碼</span>
            @Html.TextBoxFor(model => model.BARCODE, new { @class = "form-control", placeholder = "請輸入條碼", id = "txtBARCODE", aria_describedby = "txtBARCODE-addon" })*@
        @*<div id="SECONDARY_QUANTITY">*@
        @* <span class="input-group-addon" id="SECONDARY_QUANTITY">令數</span>
            @Html.TextBoxFor(model => model.SECONDARY_QUANTITY, new { @class = "form-control", placeholder = "請輸入令數", id = "txtSECONDARY_QUANTITY", aria_describedby = "txtSECONDARY_QUANTITY-addon" })*@
        @*</div>*@

        @*</div>*@



        @*<div class="col input-group" id="SECONDARY_QUANTITY">
            <h4>test</h4>*@
        @*<span class="input-group-addon">令數</span>
            @Html.TextBoxFor(model => model.SECONDARY_QUANTITY, new { @class = "form-control", placeholder = "請輸入令數", id = "txtSECONDARY_QUANTITY", aria_describedby = "txtSECONDARY_QUANTITY-addon" })*@
        @*  </div>*@





        @*<br />*@
        <div class="col-md-12">
            <form class="form-inline" id="form" onsubmit="return false">
                <div class=" input-group col-md-3">
                    <span class="input-group-addon" style="width:53px;">條碼</span>
                    @Html.TextBoxFor(model => model.BARCODE, new { @class = "form-control", placeholder = "請輸入條碼", id = "txtBARCODE", autocomplete = "off" })
                </div>


                <div class=" input-group col-md-3" id="SECONDARY_QUANTITY">
                    <span class="input-group-addon" style="width:53px;">令數 </span>
                    @Html.TextBoxFor(model => model.SECONDARY_QUANTITY, new { @class = "form-control", placeholder = "請輸入令數", id = "txtSECONDARY_QUANTITY", autocomplete = "off" })
                </div>

                <input type="button" id="btnSaveBarcode" value="新增" class="btn btn-danger" />

            </form>
        </div>

        @*<form class="bs-example bs-example-form col-md-4" id="form" onsubmit="return false">*@


        @*</form>*@


        @*        <div class="col col-md-4 input-lg form-group">
                @Html.LabelFor(model => model.BARCODE, new { @class = "input-lg" })
                @Html.TextBoxFor(model => model.BARCODE, new { @class = "form-control input-sm", id = "txtBARCODE", aria_describedby = "txtBARCODE-addon" })
            </div>
            <div class="form-group col col-md-4 input-lg" id="SECONDARY_QUANTITY">
                @Html.LabelFor(model => model.SECONDARY_QUANTITY, new { @class = "input-lg" })
                @Html.TextBoxFor(model => model.SECONDARY_QUANTITY, new { @class = "form-control input-sm", id = "txtSECONDARY_QUANTITY", aria_describedby = "txtSECONDARY_QUANTITY-addon" })
            </div>
            <div class="btn-group col col-md-2 input-lg">
                <button id="btnSaveBarcode" class="btn btn-danger externalBtn">新增</button>
            </div>*@




        @*  <div class="form-inline">
                <div class="col col-md-4 input-lg form-group">
                    @Html.LabelFor(model => model.BARCODE, new { @class = "input-lg" })
                    @Html.TextBoxFor(model => model.BARCODE, new { @class = "form-control input-sm", id = "txtBARCODE", aria_describedby = "txtBARCODE-addon" })
                </div>
                <div class="form-group col col-md-4 input-lg" id="SECONDARY_QUANTITY">
                    @Html.LabelFor(model => model.SECONDARY_QUANTITY, new { @class = "input-lg" })
                    @Html.TextBoxFor(model => model.SECONDARY_QUANTITY, new { @class = "form-control input-sm", id = "txtSECONDARY_QUANTITY", aria_describedby = "txtSECONDARY_QUANTITY-addon" })
                </div>
                <div class="btn-group col col-md-2 input-lg">
                    <button id="btnSaveBarcode" class="btn btn-danger externalBtn">新增</button>
                </div>
            </div>*@
    </div>






    <br />
    <div class="row row-std">
        <div class="dataTable_wrapper">
            <div class="col-sm-12 col-md-12">
                <table class="table table-striped table-bordered table-hover" id="FlatBarcodeDataTablesBody">
                    <thead>
                        <tr role="row" class="bg-light-gray">
                            <th></th>
                            <th>
                                @Html.DisplayName("項次")
                            </th>
                            <th>
                                @Html.DisplayName("條碼號")
                            </th>
                            <th>
                                @Html.DisplayName("料號")
                            </th>
                            <th>
                                @Html.DisplayName("令重")
                            </th>
                            <th>
                                @Html.DisplayName("包裝方式")
                            </th>
                            <th>
                                @Html.DisplayName("數量")
                            </th>
                            <th>
                                @Html.DisplayName("單位")
                            </th>
                            <th>
                                @Html.DisplayName("數量")
                            </th>
                            <th>
                                @Html.DisplayName("單位")
                            </th>
                            @*<th>
            @Html.DisplayName("備註")
        </th>*@
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>