@model CHPOUTSRCMES.Web.ViewModels.Delivery.DeliverySearchViewModel
@{
    ViewBag.Title = "出貨作業";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/Delivery/index.css")" rel="stylesheet" type="text/css" />

@section scripts {

    <script src="~/Scripts/Delivery/index.js"></script>
    <script src="~/Scripts/moment.js"></script>
}
<div class="box box-primary" style="padding: 15px;">
    
    <div class="box-body">
        <div style="display: none">
            <span id="Advanced">@Html.DisplayFor(model => model.Advanced)</span>
        </div>

        <div class="row row-std form-inline">
            <div class="col col-md-1 text-right">
                @Html.LabelFor(model => model.TripActualShipBeginDate, new { @class = "input-lg " })
            </div>
            <div class="col col-md-3">
                @Html.TextBoxFor(model => model.TripActualShipBeginDate, new { @class = "form-control input-md", style = "width:40%;", id = "txtTripActualShipBeginDate", aria_describedby = "txtTripActualShipBeginDate-addon" })
                ~
                @Html.TextBoxFor(model => model.TripActualShipEndDate, new { @class = "form-control input-md", style = "width:40%;", id = "txtTripActualShipEndDate", aria_describedby = "txtTripActualShipEndDate-addon" })
            </div>



            <div class="col col-md-2 text-right">
                @Html.LabelFor(model => model.DeliveryName, new { @class = "input-lg" })
            </div>
            <div class="col col-md-3">
                @Html.TextBoxFor(model => model.DeliveryName, new { @class = "form-control input-md", id = "txtDeliveryName", aria_describedby = "txtDeliveryName-addon" })

            </div>

            <div class="col col-md-1 text-right">
                @Html.LabelFor(model => model.SelectedSubinventory, new { @class = "input-lg" })
            </div>
            <div class="col col-md-2">
                @Html.DropDownListFor(model => model.SelectedSubinventory, Model.SubinventoryNameItems, new { @class = "form-control", id = "ddlWarehouse" })
            </div>
        </div>


        <div class="row row-std form-inline">
            <div class="col col-md-1 text-right">
                @Html.LabelFor(model => model.SelectedTrip, new { @class = "input-lg" })
            </div>
            <div class="col col-md-3">
                @Html.DropDownListFor(model => model.SelectedTrip, Model.TripNameItems, new { @class = "form-control", id = "ddlTrip" })
            </div>
            <div class="col col-md-2 text-right">
                @Html.LabelFor(model => model.TransactionDate, new { @class = "input-lg" })
            </div>
            <div class="col col-md-3">
                @Html.TextBoxFor(model => model.TransactionDate, new { @class = "form-control input-md", id = "txtTransactionDate", aria_describedby = "txtTransactionDate-addon" })
            </div>
            <div class="col col-md-1 text-right">
                @Html.LabelFor(model => model.SelectedDeliveryStatus, new { @class = "input-lg" })
            </div>
            <div class="col col-md-2">
                @Html.DropDownListFor(model => model.SelectedDeliveryStatus, Model.DeliveryStatusItems, new { @class = "form-control", id = "ddlDeliveryStatus" })
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="btn-group col-md-2">
            <button id="btnSearch" class="btn btn-primary externalBtn">查詢</button>
        </div>

        <div class="col-md-3 col-md-offset-1">
            @*<button id="btnExportExcel" class="btn btn-primary externalBtn">匯出Excel</button>*@
            @*<button id="btnPrintPickList" class="btn btn-primary externalBtn">列印備貨單</button>*@
            <button id="btnCancelConfirm" class="btn btn-danger externalBtn">取消申請</button>
            <button id="btnDeliveryConfirm" class="btn btn-danger externalBtn">出貨申請</button>
        </div>
        @if (Model.Advanced)
        {
            <div class="col-md-5">
                <button id="btnUpdateTransactionAuthorizeDates" class="btn btn-danger externalBtn">編輯核准日</button>
                <button id="btnTripChancel" class="btn btn-danger externalBtn">航程號取消</button>
                <button id="btnDeliveryReject" class="btn btn-danger externalBtn">出貨駁回</button>
                <button id="btnDeliveryAuthorize" class="btn btn-danger externalBtn">出貨核准</button>
            </div>
        }
    </div>
</div>
<div class="box box-primary" style="padding: 15px; overflow-y:auto">
    <div class="row row-std">
        
    </div>

    <div class="row row-std">
        <div class="col-sm-12 col-md-12">
            <table class="table table-striped table-bordered table-hover dataTable" id="TripDataTablesBody">
                <thead>
                    <tr role="row" class="bg-light-gray">
                        <th rowspan="2" colspan="1"></th>
                        <th rowspan="2" colspan="1">項次</th>
                        <th rowspan="2" colspan="1">內銷地區別</th>
                        <th rowspan="2" colspan="1">車次</th>
                        <th rowspan="2" colspan="1">航程號</th>
                        <th rowspan="2" colspan="1">交運單</th>
                        <th rowspan="2" colspan="1">作業別</th>
                        <th rowspan="2" colspan="1">狀態</th>
                        <th rowspan="1" colspan="3">客戶</th>
                        @*<th rowspan="1" colspan="6">交運單統計</th>*@
                        <th rowspan="2" colspan="1">出庫倉庫</th>
                        <th rowspan="2" colspan="1">組車日</th>
                        <th rowspan="2" colspan="1">出貨申請日</th>
                        <th rowspan="2" colspan="1">出貨核准日</th>
                        <th rowspan="2" colspan="1">備註</th>
                        <th rowspan="2" colspan="1"></th>
                    </tr>

                    <tr role="row" class="bg-light-gray">
                        @* <th></th>*@
                        @* <th>
                                @Html.DisplayName("項次")
                            </th>*@
                        @* <th>
                                @Html.DisplayName("內銷地區別")
                            </th>*@
                        @*<th>
                                @Html.DisplayName("交運單")
                            </th>*@
                        <th>
                            @Html.DisplayName("客戶")
                        </th>
                        <th>
                            @Html.DisplayName("送貨地點")
                        </th>
                        <th>
                            @Html.DisplayName("收貨公司名稱")
                        </th>
                        @* <th>
                                @Html.DisplayName("訂單")
                            </th>
                            <th>
                                @Html.DisplayName("訂單行號")
                            </th>
                            <th>
                                @Html.DisplayName("料號名稱")
                            </th>
                            <th>
                                @Html.DisplayName("紙別")
                            </th>
                            <th>
                                @Html.DisplayName("基重")
                            </th>
                            <th>
                                @Html.DisplayName("規格")
                            </th>
                            <th>
                                @Html.DisplayName("絲向")
                            </th>
                            <th>
                                @Html.DisplayName("包裝方式")
                            </th>*@
                        @*<th>
                                @Html.DisplayName("訂單原始數量")
                            </th>
                            <th>
                                @Html.DisplayName("訂單主單位")
                            </th>
                            <th>
                                @Html.DisplayName("預計出庫輔數量")
                            </th>
                            <th>
                                @Html.DisplayName("輔單位")
                            </th>
                            <th>
                                @Html.DisplayName("預計出庫量")
                            </th>
                            <th>
                                @Html.DisplayName("庫存單位")
                            </th>*@
                        @* <th>
                                @Html.DisplayName("出貨倉庫")
                            </th>
                            <th>
                                @Html.DisplayName("組車日")
                            </th>
                            <th>
                                @Html.DisplayName("航程號")
                            </th>
                            <th>
                                @Html.DisplayName("出貨確認日")
                            </th>*@
                        @*<th>
                                @Html.DisplayName("備註")
                            </th>*@
                        @*<th>
                                @Html.DisplayName("作業別")
                            </th>*@
                        @*<th>
                                @Html.DisplayName("狀態")
                            </th>*@
                        @*<th></th>*@
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>



