@model CHPOUTSRCMES.Web.ViewModels.Delivery.InsteadEditViewModel
@{
    ViewBag.Title = "代紙明細輸入";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script src="~/Scripts/Delivery/InsteadEdit.js"></script>

}

<div>
    @Html.Partial("_DeliveryPartial", @Model.DeliveryDetailViewHeader)
</div>

<div class="form-group col col-md-12 input-lg">
    @Html.Label("紙捲需求")
</div>

<div class="row row-std">
    <div class="dataTable_wrapper">
        <div class="col-sm-12 col-md-12">
            <table class="table table-striped table-bordered table-hover" id="InsteadDataTablesBody">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("項次")
                        </th>
                        <th>
                            @Html.DisplayName("訂單編號")
                        </th>
                        <th>
                            @Html.DisplayName("工單號碼")
                        </th>
                        <th>
                            @Html.DisplayName("料號名稱")
                        </th>
                        <th>
                            @Html.DisplayName("代紙料號名稱")
                        </th>
                        <th>
                            @Html.DisplayName("紙別")
                        </th>
                        <th>
                            @Html.DisplayName("基重")
                        </th>
                        <th>
                            @Html.DisplayName("規格")
                        </th>
                        <th>
                            @Html.DisplayName("需求數量")
                        </th>
                        <th>
                            @Html.DisplayName("已揀數量")
                        </th>
                        <th>
                            @Html.DisplayName("單位")
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="form-group col col-md-12 input-lg">
    @Html.Label("揀貨(刷條碼)")
</div>

<div class="row row-std">
    <div class="form-inline">
        <div class="form-group col col-md-12 input-lg">
            @Html.LabelFor(model => model.BARCODE, new { @class = "input-lg" })
            @Html.TextBoxFor(model => model.BARCODE, new { @class = "form-control input-sm", id = "txtBARCODE", aria_describedby = "txtBARCODE-addon" })
            <button id="btnSaveBarcode" class="btn btn-success externalBtn">新增</button>
            <button id="btnDeleteBarcode" class="btn btn-danger externalBtn">刪除</button>
        </div>
    </div>
</div>
<br />
<div class="row row-std">
    <div class="dataTable_wrapper">
        <div class="col-sm-12 col-md-12">
            <table class="table table-striped table-bordered table-hover" id="InsteadBarcodeDataTablesBody">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("是否代紙")
                        </th>
                        <th>
                            @Html.DisplayName("項次")
                        </th>
                        <th>
                            @Html.DisplayName("料號名稱")
                        </th>
                        <th>
                            @Html.DisplayName("條碼號")
                        </th>
                        <th>
                            @Html.DisplayName("數量")
                        </th>
                        <th>
                            @Html.DisplayName("單位")
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

