@using Microsoft.AspNet.Identity
@model CHPOUTSRCMES.Web.ViewModels.Account.ManageUserViewModel

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">修改密碼</h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                            <div class="row">
                                <div class="col-md-6" style="margin-bottom:10px">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-9">
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @id = "OldPassword", autocomplete = "off" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-9">
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @id = "NewPassword", autocomplete = "off" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-9">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword", autocomplete = "off" })
                                        </div>
                                    </div>

                                </div>
                            </div>}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnConfirm">儲存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

