@model CHPOUTSRCMES.Web.Models.Information.AccountModel

@{
    ViewBag.Title = "新增使用者";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {

    <script src="~/Scripts/Account/Account.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
}

<div class="row customBody">
    <div class="col-md-12">

        <div class="box box-success">
            <div class="box-header with-border">
                使用者資料
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form role="form" class="col-md-6" id="EditForm" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <table style=" border-spacing:20px 5px">
                            <tr>
                                <td style="text-align: right;">
                                    <label style='font-weight:bolder;'>
                                        角色
                                    </label>
                                </td>
                                <td class="input-lg">@Html.DropDownListFor(model => model.GetRoleNameList, Model.GetRoleNameList, new { @class = "customDropDownList", id = "ddlRoleName", autocomplete = "off" })</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                    <label style='font-weight:bolder;'>
                                        帳號
                                    </label>
                                </td>
                                <td class="input-lg">
                                    @Html.TextBoxFor(model => model.Account, new { placeholder = "請輸入帳號", @class = "form-control customTextBox", id = "Account", style = "width:200px;", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger", autocomplete = "off" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                    <label style='font-weight:bolder;'>
                                        使用者
                                    </label>
                                </td>
                                <td class="input-lg">
                                    @Html.TextBoxFor(model => model.Name, new { placeholder = "請輸入姓名", @class = "form-control customTextBox", id = "Name", style = "width:200px;", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", autocomplete = "off" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                    <label style='font-weight:bolder;'>
                                        信箱
                                    </label>
                                </td>
                                <td class="input-lg">
                                    @Html.TextBoxFor(model => model.Email, new { placeholder = "請輸入信箱", @class = "form-control customTextBox", id = "Email", style = "width:200px;", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", autocomplete = "off" })
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                    <label style='font-weight:bolder;'>
                                        密碼
                                    </label>
                                </td>
                                <td class="input-lg">
                                    @Html.TextBoxFor(model => model.Password, new { placeholder = "請輸入密碼", @class = "form-control customTextBox", id = "Password", style = "width:200px;", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", autocomplete = "off" })
                                </td>
                            </tr>
                            <tr>
                                <td class="input-lg" colspan="2" style=" text-align: right;">
                                    <button type="button" id="BtnAccountSave" class="btn btn-danger externalBtn" style="width: 100px;">儲存</button>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
                @*<div class="row row-std col-md-12">
                    <button class="btn btn-danger externalBtn col-sm-offset-4" id="BtnAccountSave">儲存</button>
                </div>*@
            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div class="box box-success">
            <div class="box-header with-border">
                倉庫設定
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <form role="form" id="SubinventoryForm" method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <fieldset class="row-mtd">
                        <div class="row-mtd">
                            <div id="checkboxlist">
                                @{
                                    var groupModel = Model.GetSubinventories.ToList().GroupBy(x => x.ORGANIZATION_CODE);
                                    foreach (var group in groupModel)
                                    {
                                        <h4>@group.Key</h4>
                                        <div id="@group.Key" class="col col-md-12">
                                            @foreach (var item in Model.GetSubinventories)
                                            {
                                                if (group.Key == item.ORGANIZATION_CODE)
                                                {
                                                    <div class="col col-md-2">
                                                        <input style="font-size:15px" type="checkbox" onclick="checkboxclick"
                                                               id="@item.ORGANIZATION_CODE-@item.SUBINVENTORY_CODE" name="checkboxs"
                                                               value="@item.ORGANIZATIONID-@item.SUBINVENTORY_CODE @item.SUBINVENTORY_NAME" />
                                                        <label for="@item.SUBINVENTORY_CODE">@item.SUBINVENTORY_CODE - @item.SUBINVENTORY_NAME</label>

                                                    </div>

                                                }
                                            }
                                        </div>
                                        }
                                    }
                            </div>
                            <label for="checkboxs" class="error" style="display:none ; color:red" id="checkboxs">至少選擇一種</label>
                        </div>

                    </fieldset>


                </form>
            </div>
        </div>
    </div>

</div>


