@model CHPOUTSRCMES.Web.ViewModels.Account.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="@Url.Content("~/bower_components/theme-login/css/style.css")" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
        <div class="row w-100">
            <div class="col-lg-4 mx-auto">
                <div class="auth-form-dark text-left p-5">
                    <h1>華紙 MES</h1>
                    <h3 class="font-weight-light">- CHP MES account login -</h3>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "pt-5", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="UserName">Username  帳號</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class= "form-control input-md" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    <label for="Password">Password 密碼</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-md" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>

                        <div class="mt-5">
                            <input class="btn btn-block btn-success btn-lg font-weight-medium" href="#" value="登 入" type="submit" />
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>



