@model CHPOUTSRCMES.Web.ViewModels.StockTransaction.TransferReasonViewModel
<div class="row col-md-12">
    <h4 class="page-header">庫存查詢</h4>
</div>
<div id="Top">
</div>
<div class="row row-std col-md-12">
    <input type="button" id="btnSearchStock" value="查詢" class="btn btn-primary" />
</div>



<div class="row row-std">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="TransferReasonTable">
            <thead>
                <tr>
                    <th rowspan="2" colspan="1"></th>
                    <th rowspan="2" colspan="1">項次</th>
                    <th rowspan="2" colspan="1">倉庫</th>
                    <th rowspan="2" colspan="1">儲位</th>
                    <th rowspan="2" colspan="1">料號</th>
                    <th rowspan="2" colspan="1">條碼號</th>
                    <th rowspan="1" colspan="2">主單位</th>
                    <th rowspan="1" colspan="2">次單位</th>
                    <th rowspan="2" colspan="1">原因</th>
                    <th rowspan="2" colspan="1">備註</th>
                </tr>
                <tr>
                    @*<th>
                        </th>*@
                    @*<th>
                            @Html.DisplayName("項次")
                        </th>
                        <th>
                            @Html.DisplayName("倉庫")
                        </th>
                        <th>
                            @Html.DisplayName("儲位")
                        </th>
                        <th>
                            @Html.DisplayName("料號")
                        </th>
                        <th>
                            @Html.DisplayName("條碼號")
                        </th>*@
                    <th>
                        @Html.DisplayName("數量")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                    <th>
                        @Html.DisplayName("數量")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                </tr>
            </thead>

        </table>

    </div>
</div>

<div class="row col-md-12">
    <h4 class="page-header">貨故編輯</h4>
</div>
<div class="row form-group" ">
    <span id="StockId" style="display: none;"></span>
    <div class="form-inline col-md-1 text-right">
        <label>項次</label>
    </div>
    <div class="form-inline col-md-1">
        <label id="SUB_ID"></label>
    </div>
    <div class="form-inline col-md-1 text-right">
        <label>倉庫</label>
    </div>
    <div class="form-inline col-md-1">
        <label id="TransferReasonSubinventory"></label>
    </div>
    <div class="form-inline col-md-1 text-right">
        <label>儲位</label>
    </div>
    <div class="form-inline col-md-1">
        <label id="TransferReasonLocator"></label>
    </div>
    <div class="form-inline col-md-1 text-right">
        <label>料號</label>
    </div>
    <div class="form-inline col-md-1">
        <label id="TransferReasonItem"></label>
    </div>
    <div class="form-inline col-md-1 text-right">
        <label>條碼</label>
    </div>
    <div class="form-inline col-md-1">
        <label id="TransferReasonBarcode"></label>
    </div>
</div>

<div class="row form-group">
    <div class="form-inline col col-md-1 text-right">
        <label>異常原因</label>
    </div>

    <div class="form-inline col col-md-1">
        @Html.DropDownListFor(model => model.Reason, Model.ReasonItems, new { @class = "form-control input-sm", id = "Reason" })
    </div>

    <div id="TransferLocatorArea" style=" display: none;">
        <div class="form-inline col col-md-1 text-right">
            <label>儲位</label>
        </div>

        <div class="form-inline col col-md-1">
            @Html.DropDownListFor(model => model.Locator, Model.LocatorItems, new { @class = "form-control input-sm", id = "TransferLocator" })
        </div>
    </div>
</div>


<div class="row form-group">

    <div class="form-inline col col-md-1 text-right">
        <label>備註</label>
    </div>

    <div class="form-inline col col-md-1">
        <input id="Note" class="form-control input-sm" autocomplete="off" />
    </div>
</div>

<form id ="photo_form">
    <div class="row form-group">

        <div class="form-inline col col-md-1 text-right">
            <label>照片上傳</label>
        </div>

        <div class="form-inline col-md-5">
            <input type="file" class="filestyle" id="fileinput" name="file" accept="image/*" data-icon="true" required data-buttonText="選擇照片" multiple>
        </div>

        <div class="col-md-6">

            @*<div class="col-md-6" id="SaveImg">
                    <img class="col-md-6" id="SaveImg" onclick="imgDisplay(this)" src="" alt="" />
                </div>*@
            <div class="col-md-6" id="imgBox">
                <img class="col-md-6" id="img" onclick="imgDisplay(this)"
                     src="" alt="" />
            </div>
        </div>

    </div>
    </form>

    <div class="row col-md-1">
        <div>
            <button class="btn btn-danger" type="button" id="BtnSave">異動存檔</button>
        </div>

    </div>
