@model CHPOUTSRCMES.Web.Models.Process.CHP_PROCESS_T


<script src="~/Scripts/moment.js"></script>

@{
    IEnumerable<SelectListItem> MachineItems = (IEnumerable<SelectListItem>)ViewBag.MachineItems;

}

<!-- Modal -->
<div class="modal fade" id="ProcessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">請輸入日期</h3>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5" style="margin-bottom:10px">
                        <div class="form-inline" style="margin-bottom:10px">
                            @Html.LabelFor(model => model.CuttingDateFrom)
                            @Html.TextBoxFor(model => model.CuttingDateFrom, new { @class = "form-control input-lg", id = "Dialog_CuttingDateFrom", autocomplete="off"})
                        </div>

                        <div class="form-inline" style="margin-bottom:10px">
                            @Html.LabelFor(model => model.CuttingDateTo)
                            @Html.TextBoxFor(model => model.CuttingDateTo, new { @class = "form-control input-lg", id = "Dialog_CuttingDateTo", autocomplete="off"})
                        </div>

                        <div class="form-inline" style="margin-bottom:10px">
                            @Html.LabelFor(model => model.MachineNum)
                            @Html.DropDownListFor(model => model.MachineNum, MachineItems, new { @class = "form-control input-lg", id = "Dialog_MachineNum" })
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnDailogProcess">儲存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>

        </div>
    </div>
</div>