@model CHPOUTSRCMES.Web.ViewModels.Process.ProcessViewModel

@if (Model.CHP_PROCESS_T.Status == "已完工" || Model.CHP_PROCESS_T.Status == "待核准")
{
    ViewBag.EnableReturnButton = "true";
    ViewBag.Title = "加工-平張-完工紀錄";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
else
{
    ViewBag.EnableReturnButton = "true";
    ViewBag.Title = "加工-平張-完工";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/Process/Schedule.js"></script>
    <script src="~/bower_components/editor/js/dataTables.editor.min.js"></script>
    <script src="~/bower_components/editor/js/editor.bootstrap.min.js"></script>
    <script src="~/Scripts/label.js"></script>
}

@{
    IEnumerable<SelectListItem> RemnantItem = (IEnumerable<SelectListItem>)ViewBag.RemnantItem;
    IEnumerable<SelectListItem> CotangentItem = (IEnumerable<SelectListItem>)ViewBag.CotangentItem;
}


@Html.HiddenFor(model => model.CHP_PROCESS_T.Status, new { id = "Status" })
@Html.HiddenFor(model => model.CHP_PROCESS_T.OspDetailInId, new { id = "OspDetailInId" })
@Html.HiddenFor(model => model.CHP_PROCESS_T.OspDetailOutId, new { id = "OspDetailOutId" })
@Html.HiddenFor(model => model.CHP_PROCESS_T.OspHeaderId, new { id = "OspHeaderId" })

<div class="customBody row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-body">
                <div class="col-md-12">

                    @*工單號*@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.BatchNo)

                    </div>

                    <div class="form-inline col-md-2">
                        <span id="Flat_Process_Batch_No">@Html.DisplayFor(model => model.CHP_PROCESS_T.BatchNo)</span>
                    </div>




                    @* 訂單編號 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.OrderNumber)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.OrderNumber)
                    </div>


                    @*客戶名稱*@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.CustomerName)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.CustomerName)
                    </div>


                </div>

                <div class="col-md-12">

                    @*需求日*@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.DueDate)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.DueDate)
                    </div>

                    @*裁切日*@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.CuttingDateFrom)

                    </div>

                    <div class="form-inline col-md-2 ">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.CuttingDateFrom)
                    </div>

                    @*裁切日*@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.CuttingDateTo)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.CuttingDateTo)
                    </div>

                </div>

                <div class="col-md-12">


                    @* 產品料號 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.Product_Item)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.Product_Item)
                    </div>


                    @* 規格 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.DoSpecification)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.DoSpecification)
                    </div>

                    @* 紙別 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.DoPaperType)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.DoPaperType)
                    </div>


                    @* 絲向 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.DoGrainDirection)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.DoGrainDirection)
                    </div>

                </div>


                <div class="col-md-12">


                    @* 基重 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.DoBasicWeight)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.DoBasicWeight)
                    </div>

                    @* 重量 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.DoPrimaryQuantity)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.DoPrimaryQuantity)
                    </div>

                    @* 令數 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.DoReamWt)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.DoReamWt)
                    </div>

                    @* 包裝方式 *@
                    <div class="form-inline col-md-1 text-right">
                        @Html.LabelFor(model => model.CHP_PROCESS_T.DoPackingType)

                    </div>

                    <div class="form-inline col-md-2">
                        @Html.DisplayFor(model => model.CHP_PROCESS_T.DoPackingType)
                    </div>

                </div>

            </div>



        </div>




    </div>


    <div class="col-md-12">
        <div class="box box-success">

            <div class="box-body">

                @*投入*@
                <div class="row row-std">
                    <div class=" row-std col-md-12">
                        <h3 class="page-header">
                            投入
                        </h3>
                    </div>
                </div>

                <div class="row row-std" id="InputBathNoArea">
                    <form class="bs-example bs-example-form col col-md-12" id="form" onsubmit="return false">
                        <div class="form-group form-inline">
                            <label class="col-md-1 text-right font-weight:bolder;">工單號</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" placeholder="請輸入工單號" id="InputBatchNo" autocomplete="off">
                                <button class="btn btn-danger" type="button" id="BtnCheckBatchNo">比對</button>
                                <button class="btn btn-danger" type="button" id="BtnEdit">修改</button>
                                @if (Model.Authority)
                                {
                                    <button class="btn btn-danger" type="button" id="BtnApprove">核准</button>
                                }
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row row-std">

                    <div class="col-md-12">
                        @*//組成成分料號*@
                        <label class="form-inline col-md-1 text-right">
                            組成料號
                        </label>
                        <div class="form-inline  col-md-1">
                            @Html.DisplayFor(model => model.CHP_PROCESS_T.SelectedInventoryItemNumber)
                        </div>
                    </div>

                </div>


                <div class="row row-std col-md-12">

                    @* 條碼編號 *@
                    <div class="form-inline col col-md-1 text-right">
                        @Html.LabelFor(model => model.Invest.Barcode)

                    </div>

                    <div class="form-inline col-md-2">
                        <input type="text" class="form-control input-sm col-md-auto" id="Invest_Barcode" autocomplete="off">
                    </div>

                    @* 殘捲 *@
                    <div class="form-inline col col-md-1 text-right">
                        @Html.LabelFor(model => model.Invest.HasRemaint)
                    </div>

                    <div class="form-inline col col-md-1">
                        @Html.DropDownListFor(model => model.Invest.HasRemaint, RemnantItem, new { @class = "form-control input-sm", id = "Invest_Remnant" })
                    </div>

                    @* 原重量 *@
                    <div class="form-inline col col-md-1 text-right">
                        <label>原重量</label>
                    </div>

                    <div class="form-inline col col-md-1">
                        <span id="Invest_Original_Weight"></span>
                    </div>

                    @* 餘量 *@
                    <div class="form-inline col col-md-1 text-right">
                        @Html.LabelFor(model => model.Invest.RemainingQuantity)
                    </div>

                    <div class="form-inline col col-md-1">
                        @Html.TextBoxFor(model => model.Invest.RemainingQuantity, new { @class = "form-control form-control input-sm", id = "Invest_Remaining_Weight", autocomplete = "off" })
                    </div>


                </div>


                <div class="row row-std col-md-12">
                    @* 基重 *@
                    <div class="form-inline col col-md-1 text-right">
                        <label>基重</label>
                    </div>

                    <div class="form-inline col col-md-2">
                        <span id="Invest_Basic_Weight"></span>
                    </div>

                    @* 寬幅 *@
                    <div class="form-inline col col-md-1 text-right">
                        <label>寬幅</label>
                    </div>

                    <div class="form-inline col col-md-1">
                        <span id="Invest_Specification"></span>
                    </div>

                    @* 捲號 *@
                    <div class="form-inline col col-md-1 text-right">
                        <label>捲號</label>
                    </div>

                    <div class="form-inline col col-md-2">
                        <span id="Invest_Lot_Number"></span>
                    </div>

                    <div class="form-group col col-md-2">
                        <button class="btn btn-danger" type="button" id="BtnProcessSave">儲存</button>
                    </div>

                    <div class="form-group col col-md-1">
                        <button class="btn btn-primary btn-label" type="button" id="BtnRePrint">補印標籤</button>
                    </div>



                </div>






            </div>



            <div class="box-footer">
                <div class="row row-std">
                    <div class="dataTable_wrapper">
                        <div class="col-sm-12 col-md-12">
                            <table class="table table-striped table-bordered table-hover" id="InvestDataTables">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>
                                            @Html.DisplayName("條碼號")
                                        </th>
                                        <th>
                                            @Html.DisplayName("殘捲")
                                        </th>
                                        <th>
                                            @Html.DisplayName("基重")
                                        </th>
                                        <th>
                                            @Html.DisplayName("規格")
                                        </th>
                                        <th>
                                            @Html.DisplayName("捲號")
                                        </th>
                                        <th>
                                            @Html.DisplayName("紙別")
                                        </th>
                                        <th>
                                            @Html.DisplayName("原重KG")
                                        </th>
                                        <th>
                                            @Html.DisplayName("餘重KG")
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="col-md-12">

        <div class="box box-success">
            <div class="box-body">


                @* 產出 *@

                <div class="row col-md-12">
                    <div class="row row-std col-md-12">
                        <h3 class="page-header">
                            產出
                        </h3>
                    </div>
                </div>


                <div class="row row-std" id="OutputBathNoArea">
                    <form class="bs-example bs-example-form col-md-12" id="form" onsubmit="return false">
                        <div class="form-group form-inline">
                            <label class="col-md-1 text-right font-weight:bolder;">工單號</label>
                            <div class="col-md-11">
                                <input type="text" class="form-control" placeholder="請輸入工單號" id="OutBatchNo" autocomplete="off">
                                <button class="btn btn-danger" type="button" id="BtnCheckProductionBatchNo">比對</button>
                            </div>
                            @*<div class="input-group form-row" id="ProductForm">
                                <span class="input-group-addon">工單號</span>
                                <input type="text" class="form-control" placeholder="請輸入工單號" id="OutBatchNo" autocomplete="off">
                            </div>*@
                        </div>
                    </form>
                </div>

                <div class="row col-md-12 ">

                    @* 產出料號 *@

                    <div class="form-inline col col-md-1 text-right ">
                        @Html.LabelFor(model => model.Production.Product_Item)
                    </div>
                    <div class="form-inline col col-md-1">
                        <span id="Product_Item">@Html.DisplayFor(model => model.CHP_PROCESS_T.Product_Item)</span>
                    </div>

                </div>


                <div class="row col-md-12">
                    @* 棧板數 *@

                    <div class="form-inline col col-md-1 text-right">
                        @Html.LabelFor(model => model.Production.Roll_Ream_Qty)

                    </div>

                    <div class="form-inline col col-md-2">
                        <input id="Production_Roll_Ream_Qty" class="form-control input-sm" autocomplete="off" />
                    </div>

                    @* 每版令數 *@

                    <div class="form-inline col col-md-1 text-right">
                        @Html.LabelFor(model => model.Production.Roll_Ream_Wt)

                    </div>

                    <div class="form-inline col col-md-2">
                        <input id="Production_Roll_Ream_Wt" class="form-control input-sm" autocomplete="off" />
                    </div>

                    @* 有無餘切 *@

                    <div class="form-inline col col-md-1 text-right">
                        @Html.LabelFor(model => model.Production.Cotangent)

                    </div>

                    <div class="form-inline col col-md-1">
                        @Html.DropDownListFor(model => model.Production.Cotangent, CotangentItem, new { @class = "form-control form-control input-sm", id = "Cotangent" })
                    </div>

                    <div class="form-group col col-md-1 ">
                        <button class="btn btn-danger" type="button" id="BtnProduct_detail">產生明細</button>
                    </div>


                </div>





            </div>
            <div class="box-footer">

                <div class="row row-std col-md-12">
                    <div class="form-group form-inline">
                        <label class="col-md-1 text-right font-weight:bolder;">條碼</label>
                        <div class="col-md-11">
                            <input type="text" class="form-control" placeholder="請輸入條碼" id="Production_Barcode" autocomplete="off">
                            <button class="btn btn-danger" type="button" id="BtnProductionSave">轉已入庫</button>
                        </div>
                    </div>
                </div>

                @* 產出table *@
                <div class="row col-md-12">
                    <div class="row row-std">
                        <div class="dataTable_wrapper">
                            <div class="col-sm-12 col-md-12">
                                <table class="table table-striped table-bordered table-hover" id="ProductionDataTables">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" colspan="1"></th>
                                            <th rowspan="2" colspan="1"></th>
                                            <th rowspan="2" colspan="1">條碼號</th>
                                            <th rowspan="2" colspan="1">料號</th>
                                            <th rowspan="1" colspan="2">主單位</th>
                                            <th rowspan="1" colspan="2">次單位</th>
                                            <th rowspan="2" colspan="1">狀態</th>
                                            <th rowspan="2" colspan="1"></th>
                                        </tr>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("重量")
                                            </th>
                                            <th>
                                                @Html.DisplayName("單位")
                                            </th>
                                            <th>
                                                @Html.DisplayName("令數")
                                            </th>
                                            <th>
                                                @Html.DisplayName("單位")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12">

        <div class="box box-success">

            <div class="box-body">
                <div class="row row-std col-md-12">
                    <h4>餘切</h4>
                    <div class="form-group form-inline">
                        <label class="col-md-1 text-right font-weight:bolder;">條碼</label>
                        <div class="col-md-11">
                            <input type="text" class="form-control" placeholder="請輸入條碼" id="Cotangent_Barcode" autocomplete="off">
                            <button class="btn btn-danger" type="button" id="BtnCotangentSave">轉已入庫</button>
                        </div>
                    </div>
                </div>

                @* 餘切table *@
                <div class="row col-md-12">
                   @* <h4>餘切</h4>*@

                    @*<div class="row form-inline col-md-12  form-group">
                        <div class="input-group form-row col col-md-3">
                            <span class="input-group-addon">條碼</span>
                            <input type="text" class="form-control" placeholder="請輸入條碼" id="Cotangent_Barcode" autocomplete="off">

                        </div>
                        <button class="btn btn-danger" type="button" id="BtnCotangentSave">轉已入庫</button>
                    </div>*@



                    <div class="row row-std">
                        <div class="dataTable_wrapper">
                            <div class="col-sm-12 col-md-12">
                                <table class="table table-striped table-bordered table-hover" id="CotangentDataTables">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" colspan="1"></th>
                                            <th rowspan="2" colspan="1"></th>
                                            <th rowspan="2" colspan="1">條碼號</th>
                                            <th rowspan="2" colspan="1">料號</th>
                                            <th rowspan="1" colspan="2">主單位</th>
                                            <th rowspan="1" colspan="2">次單位</th>
                                            <th rowspan="2" colspan="1">狀態</th>
                                            <th rowspan="2" colspan="1"></th>
                                        </tr>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("公斤")
                                            </th>
                                            <th>
                                                @Html.DisplayName("單位")
                                            </th>
                                            <th>
                                                @Html.DisplayName("令數")
                                            </th>
                                            <th>
                                                @Html.DisplayName("單位")
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12 col-lg-12 col-sm-12">
                    <div>
                        <button class="btn btn-primary" type="button" id="BtnLabel">列印成品標籤</button>
                        <button class="btn btn-primary" type="button" id="BtnPurchase">列印入庫單</button>
                    </div>
                </div>


                @* 損耗 *@
                <div class="row col-md-12">
                    <div class="row row-std col-md-12">
                        <h4 class="page-header">
                            損耗
                        </h4>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-inline col col-md-1">
                        @Html.LabelFor(model => model.YieldVariance.InvestWeight)
                        <label id="InvestWeight">@Html.DisplayFor(model => model.YieldVariance.InvestWeight)</label>
                    </div>
                    <div class="form-inline col col-md-1">
                        @Html.LabelFor(model => model.YieldVariance.ProductWeight)
                        <label id="ProductWeight">@Html.DisplayFor(model => model.YieldVariance.ProductWeight)</label>
                    </div>
                    <div class="form-inline col col-md-1">
                        @Html.LabelFor(model => model.YieldVariance.LossWeight)
                        <label id="Production_Loss">@Html.DisplayFor(model => model.YieldVariance.LossWeight)</label>
                    </div>
                    <div class="form-inline col col-md-1">
                        @Html.LabelFor(model => model.YieldVariance.Rate)
                        <label id="Rate">@Html.DisplayFor(model => model.YieldVariance.Rate)</label>
                    </div>
                    <div class="col-md-2">
                        @Html.HiddenFor(model => model.CHP_PROCESS_T.Loss, new { id = "Loss" })
                        <button class="btn btn-primary" type="button" id="BtnCalculate">計算</button>
                    </div>

                </div>




            </div>




            <div class="box-footer">
                <div class="row col-md-12 col-lg-12 col-sm-12" id="User">
                    <div>

                        <button class="btn btn-danger" type="button" id="BtnSave">完工存檔</button>
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>
