@model CHPOUTSRCMES.Web.ViewModels.Obsolete.ObsoleteViewModel
@{
    ViewBag.Title = "存貨報廢";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/Obsolete/Obsolete.js"></script>
    <script src="~/Scripts/StockTransaction/Top.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/label.js"></script>
}

<div class="row col-md-12">
    <h4 class="page-header">庫存查詢</h4>
</div>
<div id="Top">
</div>


<div class="row row-std col-md-12">
    <input type="button" id="btnSearchStock" value="查詢" class="btn btn-primary" />
</div>


<div class="row row-std">
    <div class="col-sm-12 col-md-12">
        <table class="table table-striped table-bordered table-hover" id="StockDT">
            <thead>
                <tr>
                    <th rowspan="2" colspan="1"></th>
                    <th rowspan="2" colspan="1">項次</th>
                    <th rowspan="2" colspan="1">倉庫</th>
                    <th rowspan="2" colspan="1">儲位</th>
                    <th rowspan="2" colspan="1">料號</th>
                    <th rowspan="2" colspan="1">條碼號</th>
                    <th rowspan="1" colspan="2">主單位</th>
                    <th rowspan="1" colspan="2">次單位</th>
                    <th rowspan="2" colspan="1">備註</th>
                </tr>
                <tr>
                    @*<th>
                        </th>*@
                    @*<th>
                            @Html.DisplayName("項次")
                        </th>
                        <th>
                            @Html.DisplayName("倉庫")
                        </th>
                        <th>
                            @Html.DisplayName("儲位")
                        </th>
                        <th>
                            @Html.DisplayName("料號")
                        </th>
                        <th>
                            @Html.DisplayName("條碼號")
                        </th>*@
                    <th>
                        @Html.DisplayName("數量")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                   <th>
                        @Html.DisplayName("數量")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                </tr>
            </thead>

        </table>

    </div>
</div>

<div class="row col-md-12">
    <h4 class="page-header">異動明細</h4>
</div>

<div class="row row-std ">
    <div class="col-md-12">
        <div class="col col-md-2 input-lg form-group">
            <span id="StockId" style="display: none;"></span>
            @Html.LabelFor(model => model.StockId, new { @class = "input-lg" })
            <span id="StockId">@Html.DisplayFor(model => model.StockId)</span>
        </div>
        <div class="col col-md-3 input-lg form-group">
            @Html.LabelFor(model => model.Subinventory, new { @class = "input-lg" })
            <span id="Subinventory">@Html.DisplayFor(model => model.Subinventory)</span>
        </div>
        <div class="col col-md-3 input-lg form-group">
            @Html.LabelFor(model => model.Locator, new { @class = "input-lg" })
            <span id="Locator">@Html.DisplayFor(model => model.Locator)</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col col-md-4 input-lg form-group">
            @Html.LabelFor(model => model.ItemNumber, new { @class = "input-lg" })
            <span id="ItemNumber">@Html.DisplayFor(model => model.ItemNumber)</span>
        </div>
        <div class="col col-md-3 input-lg form-group">
            @Html.LabelFor(model => model.Barcode, new { @class = "input-lg" })
            <span id="Barcode">@Html.DisplayFor(model => model.Barcode)</span>
        </div>
    </div>
</div>

<div class="row row-std col-md-12 form-inline">
    <div class="input-group col-md-3">
        <span class="input-group-addon" style="width: 53px;">報廢數量</span>
        @Html.TextBoxFor(model => model.Qty, new {@class = "form-control",id = "txtQty", placeholder="請輸入數量" ,autocomplete="off"})
        @*@Html.TextBoxFor(model => model.TransactionDate, new { @class = "form-control input-sm", id = "txtTransactionDate", aria_describedby = "txtTransactionDate-addon" })*@
        @*<input class="form-control" type="text" id="txtQty" placeholder="請輸入數量" />*@
    </div>
     <span id="Unit">@Html.DisplayFor(model => model.Unit)</span>
    <input type="button" id="btnAddRecord" value="新增" class="btn btn-danger" />
</div>

<div class="row row-std col-md-12">
    <input type="button" id="btnSaveTransaction" value="異動存檔" class="btn btn-danger" />
</div>

<div class="row row-std">
    <div class="col-sm-12 col-md-12">
        <table class="table table-striped table-bordered table-hover" id="TransactionDetailDT">
            <thead>
                <tr>
                    <th rowspan="2" colspan="1"></th>
                    <th rowspan="2" colspan="1">項次</th>
                    <th rowspan="2" colspan="1">倉庫</th>
                    <th rowspan="2" colspan="1">儲位</th>
                    <th rowspan="2" colspan="1">料號</th>
                    <th rowspan="2" colspan="1">條碼號</th>
                    <th rowspan="1" colspan="3">主單位</th>
                    <th rowspan="1" colspan="3">次單位</th>
                    <th rowspan="2" colspan="1">備註</th>
                </tr>
                <tr>
                    @*<th>
                        </th>*@
                    @*<th>
                            @Html.DisplayName("項次")
                        </th>
                        <th>
                            @Html.DisplayName("倉庫")
                        </th>
                        <th>
                            @Html.DisplayName("儲位")
                        </th>
                        <th>
                            @Html.DisplayName("料號")
                        </th>
                        <th>
                            @Html.DisplayName("條碼號")
                        </th>*@
                    <th>
                        @Html.DisplayName("異動量")
                    </th>
                    <th>
                        @Html.DisplayName("異動後")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                    <th>
                        @Html.DisplayName("異動量")
                    </th>
                    <th>
                        @Html.DisplayName("異動後")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                </tr>
            </thead>

        </table>

    </div>
</div>