
@model CHPOUTSRCMES.Web.ViewModels.StockInvetory.ProfitViewModel
<div class="row col-md-12">
    <h4 class="page-header" id="page-header">盤虧記錄查詢</h4>
</div>
<div id="Top">
</div>
<div class="row row-std col-md-12">
    <input type="button" id="btnSearchLoss" value="查詢" class="btn btn-primary" />
</div>

<div class="row row-std">
    <div class="col-sm-12 col-md-12">
        <table class="table table-striped table-bordered table-hover" id="LossDetailDT">
            <thead>
                <tr>
                    <th rowspan="2" colspan="1"></th>
                    <th rowspan="2" colspan="1">項次</th>
                    <th rowspan="2" colspan="1">倉庫</th>
                    <th rowspan="2" colspan="1">儲位</th>
                    <th rowspan="2" colspan="1">料號</th>
                    <th rowspan="2" colspan="1">條碼號</th>
                    <th rowspan="1" colspan="3">主單位</th>
                    <th rowspan="1" colspan="3">次單位</th>
                    <th rowspan="2" colspan="1">備註</th>
                </tr>
                <tr>
                    @*<th>
                        </th>*@
                    @*<th>
                            @Html.DisplayName("項次")
                        </th>
                        <th>
                            @Html.DisplayName("倉庫")
                        </th>
                        <th>
                            @Html.DisplayName("儲位")
                        </th>
                        <th>
                            @Html.DisplayName("料號")
                        </th>
                        <th>
                            @Html.DisplayName("條碼號")
                        </th>*@
                    <th>
                        @Html.DisplayName("異動量")
                    </th>
                    <th>
                        @Html.DisplayName("異動後")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                    <th>
                        @Html.DisplayName("異動量")
                    </th>
                    <th>
                        @Html.DisplayName("異動後")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>

<div class="row col-md-12">
    <h4 class="page-header">異動明細</h4>
</div>

<div class="row row-std">
    <div class="row col-md-12 form-group">

        <div class="col-md-1 input-lg">
            <label>項次</label>
            <label id="StockId"></label>
        </div>

        <div class="col-md-2 input-lg">
            <label class="form-inline">倉庫</label>
            <label class="form-inline" id="Subinventory"></label>
        </div>

        <div class="col-md-2 input-lg">
            <label class="form-inline">儲位</label>
            <label class="form-inline" id="Locator"></label>
        </div>

    </div>

    <div class="row col-md-12 form-group">

        <div class="col-md-4 input-lg">
            <label class="form-inline">料號</label>
            <label class="form-inline" id="ItemNumber"></label>
        </div>

        <div class="col-md-4 input-lg">
            <label class="form-inline">條碼號</label>
            <label class="form-inline" id="Barcode"></label>
        </div>

    </div>

    <div class="row form-inline col-md-12  form-group">
        <div class="input-group form-row col col-md-3">
            <span class="input-group-addon" id="QtyText">增加數量</span>
            <input type="text" class="form-control" placeholder="請輸入數量" id="txtQty" autocomplete="off">
        </div>
        <label id="TransactionUnit"></label>
        <button class="btn btn-danger" type="button" id="btnAddRecord">新增明細</button>
        <button class="btn btn-danger" type="button" id="btnCreateBarcode">新增條碼</button>
    </div>

    <div class="row row-std col-md-12">
    <input type="button" id="btnSaveTransaction" value="異動存檔" class="btn btn-danger" />
</div>


    <div class="row row-std">
    <div class="col-sm-12 col-md-12">
        <table class="table table-striped table-bordered table-hover" id="ProfitDetailDT">
            <thead>
                <tr>
                    <th rowspan="2" colspan="1"></th>
                    <th rowspan="2" colspan="1">項次</th>
                    <th rowspan="2" colspan="1">倉庫</th>
                    <th rowspan="2" colspan="1">儲位</th>
                    <th rowspan="2" colspan="1">料號</th>
                    <th rowspan="2" colspan="1">條碼號</th>
                    <th rowspan="1" colspan="3">主單位</th>
                    <th rowspan="1" colspan="3">次單位</th>
                    <th rowspan="2" colspan="1">備註</th>
                </tr>
                <tr>
                    @*<th>
                        </th>*@
                    @*<th>
                            @Html.DisplayName("項次")
                        </th>
                        <th>
                            @Html.DisplayName("倉庫")
                        </th>
                        <th>
                            @Html.DisplayName("儲位")
                        </th>
                        <th>
                            @Html.DisplayName("料號")
                        </th>
                        <th>
                            @Html.DisplayName("條碼號")
                        </th>*@
                    <th>
                        @Html.DisplayName("異動量")
                    </th>
                    <th>
                        @Html.DisplayName("異動後")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                    <th>
                        @Html.DisplayName("異動量")
                    </th>
                    <th>
                        @Html.DisplayName("異動後")
                    </th>
                    <th>
                        @Html.DisplayName("單位")
                    </th>
                </tr>
            </thead>

        </table>
    </div>
</div>
</div>
