
@model CHPOUTSRCMES.Web.ViewModels.StockInvetory.ProfitViewModel

<div class="customBody" style="padding: 15px;">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="fa fa-caret-right box-title">盤虧記錄查詢</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body with-border">
            @*<div id="Top">
        </div>
        <div class="row row-std col-md-12">
            <input type="button" id="btnSearchLoss" value="查詢" class="btn btn-primary" />
            <button class="btn btn-danger" type="button" id="btnCreateBarcode">新增庫存</button>
        </div>*@

            <table style=" border-spacing:20px 5px">
                <tr>
                    <td style="text-align: right;">
                        @Html.LabelFor(model => model.SelectedSubinventory, new { style = "font-weight:bolder;" })
                    </td>
                    <td class="input-lg">@Html.DropDownListFor(model => model.SelectedSubinventory, Model.SubinventoryItems, new { @class = "customDropDownList", id = "ddlSubinventory", autocomplete = "off" })</td>

                    <td style="text-align: right;">
                        @Html.LabelFor(model => model.SelectedLocator, new { id = "ddlLocatorArea", style = "font-weight:bolder; display:none" })
                    </td>
                    <td class="input-lg">@Html.DropDownListFor(model => model.SelectedLocator, Model.LocatorItems, new { @class = "customDropDownList", id = "ddlLocator", autocomplete = "off", style = "display:none" })</td>

                    <td style="text-align: right;">
                        <label style='font-weight:bolder;'>
                            料號
                        </label>
                    </td>
                    <td class="input-lg" colspan="3">
                        <input class="customTextBox" type="text" id="txtItemNumber" style="width:250px;" , autocomplete="off" />
                        @*@Html.TextBoxFor(model => model.ItemNumber, new { @class = "form-control customTextBox", id = "txtItemNumber", style = "width:250px;", placeholder = "請輸入料號", autocomplete = "off" })*@
                    </td>
                </tr>

                <tr>
                    <td class="input-lg" colspan="8" style=" text-align: right;">
                        <button type="button" id="btnSearchLoss" class="btn btn-primary externalBtn" style="width: 100px;">查詢</button>
                        <button type="button" id="btnCreateBarcode" class="btn btn-danger externalBtn" style="width: 100px;">新增庫存</button>
                    </td>
                </tr>
            </table>

            <div class="row row-std">
                <div class="col-sm-12 col-md-12">
                    <table class="table table-striped table-bordered table-hover" id="LossDetailDT">
                        <thead>
                            <tr>
                                <th rowspan="2" colspan="1"></th>
                                <th rowspan="2" colspan="1">項次</th>
                                <th rowspan="2" colspan="1">倉庫</th>
                                <th rowspan="2" colspan="1">儲位</th>
                                <th rowspan="2" colspan="1">料號</th>
                                <th rowspan="2" colspan="1">條碼號</th>
                                <th rowspan="1" colspan="3">主單位</th>
                                <th rowspan="1" colspan="3">次單位</th>
                                <th rowspan="2" colspan="1">備註</th>
                            </tr>
                            <tr>
                                @*<th>
                            </th>*@
                                @*<th>
                                @Html.DisplayName("項次")
                            </th>
                            <th>
                                @Html.DisplayName("倉庫")
                            </th>
                            <th>
                                @Html.DisplayName("儲位")
                            </th>
                            <th>
                                @Html.DisplayName("料號")
                            </th>
                            <th>
                                @Html.DisplayName("條碼號")
                            </th>*@
                                <th>
                                    @Html.DisplayName("異動量")
                                </th>
                                <th>
                                    @Html.DisplayName("異動後")
                                </th>
                                <th>
                                    @Html.DisplayName("單位")
                                </th>
                                <th>
                                    @Html.DisplayName("異動量")
                                </th>
                                <th>
                                    @Html.DisplayName("異動後")
                                </th>
                                <th>
                                    @Html.DisplayName("單位")
                                </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header with-border">
            <h4 class="fa fa-caret-right box-title">異動明細</h4>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>

        <div class="box-body with-border">
            <div class="row row-std">
                <div class="row col-md-12 form-group">

                    <div class="col-md-1 input-lg">
                        <span id="StockId" style="display: none;"></span>
                        <label>項次</label>
                        <label id="SUB_ID"></label>
                    </div>

                    <div class="col-md-2 input-lg">
                        <label class="form-inline">倉庫</label>
                        <label class="form-inline" id="Subinventory"></label>
                    </div>

                    <div class="col-md-2 input-lg">
                        <label class="form-inline">儲位</label>
                        <label class="form-inline" id="Locator"></label>
                    </div>

                </div>

                <div class="row col-md-12 form-group">

                    <div class="col-md-4 input-lg">
                        <label class="form-inline">料號</label>
                        <label class="form-inline" id="ItemNumber"></label>
                    </div>

                    <div class="col-md-4 input-lg">
                        <label class="form-inline">條碼號</label>
                        <label class="form-inline" id="Barcode"></label>
                    </div>

                </div>
            </div>

            <div class="row form-inline col-md-12 input-lg  form-group">

                <label style='font-weight:bolder;'>
                    增加數量
                </label>
                <input type="text" class="customTextBox" id="txtQty" style="width: 120px;" autocomplete="off">

                @*<div class="input-group form-row col col-md-3">
                    <span class="input-group-addon" id="QtyText">增加數量</span>
                    <input type="text" class="form-control" placeholder="請輸入數量" id="txtQty" autocomplete="off">
                </div>*@
                <label id="TransactionUnit"></label>
                <button class="btn btn-danger" type="button" id="btnAddRecord">新增明細</button>
            </div>

            <div class="row row-std col-md-12">
                <input type="button" id="btnSaveTransaction" value="異動存檔" class="btn btn-danger" />
            </div>


            <div class="row row-std">
                <div class="col-sm-12 col-md-12">
                    <table class="table table-striped table-bordered table-hover" id="ProfitDetailDT">
                        <thead>
                            <tr>
                                <th rowspan="2" colspan="1"></th>
                                <th rowspan="2" colspan="1">項次</th>
                                <th rowspan="2" colspan="1">倉庫</th>
                                <th rowspan="2" colspan="1">儲位</th>
                                <th rowspan="2" colspan="1">料號</th>
                                <th rowspan="2" colspan="1">條碼號</th>
                                <th rowspan="1" colspan="3">主單位</th>
                                <th rowspan="1" colspan="3">次單位</th>
                                <th rowspan="2" colspan="1">備註</th>
                            </tr>
                            <tr>
                                <th>
                                    @Html.DisplayName("異動量")
                                </th>
                                <th>
                                    @Html.DisplayName("異動後")
                                </th>
                                <th>
                                    @Html.DisplayName("單位")
                                </th>
                                <th>
                                    @Html.DisplayName("異動量")
                                </th>
                                <th>
                                    @Html.DisplayName("異動後")
                                </th>
                                <th>
                                    @Html.DisplayName("單位")
                                </th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
