@model CHPOUTSRCMES.Web.ViewModels.StockQuery.QueryDetailViewModel

@{
    ViewBag.Title = "庫存查詢-明細";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/StockQueryDetail.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/label.js"></script>
}
<div class="customBody row">
    <div class="col col-md-12">
        <div class="box box-primary" style="padding:10px 20px;">
           
            <div style="overflow:auto;">
                @using (Html.BeginForm("StockQuery", "Stock", FormMethod.Post, new { @id = "QueryForm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.SubinventoryCode, new { id = "SubinventoryCode" })
                    @Html.HiddenFor(model => model.LocatorId, new { id = "LocatorId" })
                    @Html.HiddenFor(model => model.InventoryItemId, new { id = "InventoryItemId" })
                    @Html.HiddenFor(model => model.ItemCategory, new { id = "ItemCategory" })

                    <table style="border-spacing:20px 5px;">
                        <tr>
                            <td class="input-lg" style="text-align: right; padding-left:0px;">
                                <label style='font-weight:bolder;'>
                                    倉庫
                                </label>
                            </td>
                            <td style='width: 100px'>
                                <label style='font-weight:normal; white-space: nowrap'>
                                    @Html.DisplayFor(model => model.FullSubinventory)
                                </label>
                            </td>
                            <td class="input-lg" style="text-align: right;">
                                <label style='font-weight:bolder;'>
                                    儲位
                                </label>
                            </td>
                            <td style='width: 100px'>
                                <label style='font-weight:normal'>
                                    @Html.DisplayFor(model => model.LocatorSegments)
                                </label>
                            </td>
                            <td class="input-lg" style="text-align: right;">
                                <label style='font-weight:bolder;'>
                                    料號
                                </label>
                            </td>
                            <td style='width: 100px'>
                                <label style='font-weight:normal'>
                                    @Html.DisplayFor(model => model.ItemNumber)
                                </label>
                            </td>
                        </tr>
                    </table>
                }

                <div class="row row-std">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered dataTable" id="QueryTable">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.StockId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.SubinventoryCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.LocatorId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.LocatorSegments)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.InventoryItemId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.ItemNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.Barcode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.LotNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.PrimaryAvailableQty)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.PrimaryUomCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.SecondaryAvailableQty)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.SecondaryUomCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.PaperType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.BasicWeight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.Specification)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.ReamWeight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.PackingType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.ContainerNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.ReasonDesc)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.Note)
                                    </th>
                                    <th>
                                        檢視照片
                                    </th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
