@model CHPOUTSRCMES.Web.ViewModels.StockQuery.QueryDetailViewModel

@{
    ViewBag.Title = "庫存查詢-明細";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/Scripts/StockQueryDetail.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/label.js"></script>
}

<div class="row">
    <div class="col col-md-10 col-md-offset-1">
        <div class="box box-primary" style="padding:20px;">
            <div class="box-header with-border">
                @using (Html.BeginForm("StockQuery", "Stock", FormMethod.Post, new { @id = "QueryForm", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group col-md-3 col-sm-6">
                            <strong><i class="fa fa-star margin-r-5"></i> 倉庫</strong>
                            <p class="lead">
                                @Html.DisplayFor(model => model.SubinventoryName) &nbsp;
                                @Html.DisplayFor(model => model.SubinventoryCode)
                            </p>
                            @Html.HiddenFor(model => model.SubinventoryCode, new { id = "SubinventoryCode" })
                        </div>
                        <div class="form-group col-md-4 col-sm-6">
                            <strong><i class="fa fa-star margin-r-5"></i> 儲位</strong>
                            <p class="lead">@Html.DisplayFor(model => model.LocatorSegments)</p>
                            @Html.HiddenFor(model => model.LocatorId, new { id = "LocatorId" })
                        </div>
                        <div class="form-group col-md-3 col-sm-6">
                            <strong><i class="fa fa-star margin-r-5"></i> 料號</strong>
                            <p class="lead">@Html.DisplayFor(model => model.ItemNumber)</p>
                            @Html.HiddenFor(model => model.InventoryItemId, new { id = "InventoryItemId" })
                            @Html.HiddenFor(model => model.ItemCategory, new { id = "ItemCategory" })
                        </div>

                    </div>
                }
            </div>
            <div class="box-body" style="overflow:auto;padding:20px;">
                <div class="row row-std">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered dataTable" id="QueryTable">
                            <thead>
                                <tr>
                                    <th>

                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.StockId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.SubinventoryCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.LocatorId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.LocatorSegments)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.InventoryItemId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.ItemNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.Barcode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.LotNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.PrimaryAvailableQty)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.PrimaryUomCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.SecondaryAvailableQty)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.SecondaryUomCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.PaperType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.BasicWeight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.Specification)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.ReamWeight)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.PackingType)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TableFields.ContainerNo)
                                    </th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
