<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CHP | 華紙資訊管理系統</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="../Img/favicon.ico" rel="shortcut icon">
    <link href="@Url.Content("~/Content/mes.main.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/bower_components/morrisjs/morris.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/bower_components/dataTables-select/css/select.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/datatables-button/css/buttons.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/datatables-responsive/css/responsive.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- DataTables CSS -->
    @Scripts.Render("~/Content/datatable")

    <!-- jQuery UI CSS -->
    @Styles.Render("~/Content/jquery-ui-css")

    @Styles.Render("~/Content/theme")

    <script src="@Url.Content("~/bower_components/GlobalFunc.js")"></script>

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")

    <!-- jQuery UI -->
    @Scripts.Render("~/bundles/jquery-ui")

    <!-- jQuery DataTable-->
    @Scripts.Render("~/bundles/jquerydatatable")

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/theme")

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-green-light sidebar-mini">
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Action("Index", "Navbar")

        <div class="content-wrapper">

            <section class="content-header">
                <h1 class="header_gray">
                    <a href="#" data-toggle="control-sidebar" onclick="history.back()" style="margin:10px;"><i class="fa fa-angle-left" aria-hidden="true"></i></a>@ViewBag.Title
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <!-- Copyright -->
        <footer class="main-footer">
            <h4 class="header_gray center">©2020 Copyright: CHP | 中華紙漿股份有限公司  -程式版本: @ViewContext.Controller.GetType().Assembly.GetName().Version</h4>
        </footer>
        <!-- Copyright -->
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- 向量圖 JavaScript -->
    <script src="@Url.Content("~/bower_components/raphael/raphael-min.js")"></script>
    
    <!-- Custom Theme JavaScript -->
    @*<script src="@Url.Content("~/Scripts/mes.web.js")"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>

