<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - MES</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    
    <link href="@Url.Content("~/Content/mes.main.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/bower_components/morrisjs/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/dataTables-select/css/select.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/datatables-button/css/buttons.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/bower_components/datatables-responsive/css/responsive.bootstrap.min.css")" rel="stylesheet" type="text/css" />


        <!-- DataTables CSS -->
    @Scripts.Render("~/Content/datatable")

    <!-- jQuery UI CSS -->
    @Styles.Render("~/Content/jquery-ui-css")

    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")

    <!-- jQuery DataTable-->
    @Scripts.Render("~/bundles/jquerydatatable")


    @Scripts.Render("~/bundles/bootstrap")

    <!-- jQuery UI -->
    @Scripts.Render("~/bundles/jquery-ui")


</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.Action("Index", "Navbar")

        <div id="page-wrapper">
            <div class="container-fluid">
                <h3 class="page-header">
                    @{
                        string EnableReturnButton = ViewBag.EnableReturnButton;

                        if (EnableReturnButton == "true")
                        {    
                        <input type="button" onclick="history.back()" value="返回" class="btn btn-primary" />
                        }        
                    }

                    @ViewBag.Title</h3>
                @RenderBody()
            </div>
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright: - 中華紙漿股份有限公司  -程式版本: @ViewContext.Controller.GetType().Assembly.GetName().Version
            </div>
            <!-- Copyright -->

        </div>


        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- 向量圖 JavaScript -->
    <script src="@Url.Content("~/bower_components/raphael/raphael-min.js")"></script>

    <!-- Custom Theme JavaScript -->
    <script src="@Url.Content("~/Scripts/mes.web.js")"></script>


    @RenderSection("scripts", required: false)
</body>
</html>

