@model IEnumerable<CHPOUTSRCMES.Web.Models.Navbar>
@using Microsoft.AspNet.Identity;

<script src="~/Scripts/Logout.js"></script>
<script src="~/Scripts/Account/Account.js"></script>
<header class="main-header">
    <!-- Logo -->
    <a href="~/home/index" class="logo" style="background-color: #148c4c;">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>CHP</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>CHP華紙MES-測試中</b></span>
    </a>
    <!-- Navigation -->
    <nav class="navbar navbar-static-top bkg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-custom-menu">
            @{
                if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user" aria-hidden="true"></i>@this.User.Identity.Name</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#" id="BtnchagnePassword"><i class="" aria-hidden="true"></i>變更密碼</a></li>
                                    <li><a href="#" id="logout"><i class="fa fa-sign-out" aria-hidden="true"></i>登出</a></li>
                                </ul>
                            </li>
                        </ul>
                        @Html.Hidden(User.Identity.GetUserId(),new { id="UserId"})
                    }
                }
                else
                {
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@Url.Action("Login", "Account")" data-toggle="control-sidebar"><i class="fa fa-sign-in" aria-hidden="true"></i>登入</a>
                        </li>
                    </ul>
                }
            }

        </div>
    </nav>

</header>

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            @{
                var toplist = Model.Where(x => x.status && (x.isParent == true || x.parentId == 0)).OrderBy(x => x.Id).ToList();
                foreach (var item in toplist)
                {
                    var url = item.isParent ? "" : @Url.Action(item.action, item.controller);
                    <li class="treeview">
                        <a href="@url">
                            <i class="@item.imageClass" aria-hidden="true"></i><span>@item.nameOption</span>
                            @if (item.isParent)
                            {
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left fa-fw pull-right"></i>
                                </span>
                            }
                        </a>
                        @if (item.isParent)
                        {
                            var subList = Model.Where(x => x.parentId == item.Id && x.status).OrderBy(x => x.Id).ToList();
                            if (subList.Count() > 0)
                            {
                                <ul class="treeview-menu">
                                    @foreach (var subItem in subList)
                                    {
                                        <li style="padding-left: 21px;"><a href="@Url.Action(subItem.action, subItem.controller)">@subItem.nameOption</a></li>
                                    }
                                </ul>
                            }
                        }
                    </li>

                }
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
