@model CHPOUTSRCMES.Web.ViewModels.StockTransaction.TopViewModel

    <table style=" border-spacing:20px 5px">
        <tr>
            <td style="text-align: right;">
                @Html.LabelFor(model => model.SelectedSubinventory, new { style = "font-weight:bolder;" })
            </td>
            <td class="input-lg">@Html.DropDownListFor(model => model.SelectedSubinventory, Model.SubinventoryItems, new { @class = "customDropDownList", id = "ddlSubinventory", autocomplete = "off" })</td>

            <td style="text-align: right;">
                @Html.LabelFor(model => model.SelectedLocator, new { style = "font-weight:bolder;" })
            </td>
            <td class="input-lg">@Html.DropDownListFor(model => model.SelectedLocator, Model.LocatorItems, new { @class = "customDropDownList", id = "ddlLocator", autocomplete = "off" })</td>

            <td style="text-align: right;">
                <label style='font-weight:bolder;'>
                    料號
                </label>
            </td>
            <td class="input-lg" colspan="3">
                <input class="customTextBox" type="text" id="txtItemNumber" style="width:250px;" , autocomplete="off" />
                @*@Html.TextBoxFor(model => model.ItemNumber, new { @class = "form-control customTextBox", id = "txtItemNumber", style = "width:250px;", placeholder = "請輸入料號", autocomplete = "off" })*@
            </td>
        </tr>
    </table>


@*<div class="row row-std">
    <div class="col-md-12 form-inline">
        <div class="form-group col col-md-4">
            @Html.LabelFor(model => model.SelectedSubinventory, new { @class = "input-lg" })
            @Html.DropDownListFor(model => model.SelectedSubinventory, Model.SubinventoryItems, new { @class = "form-control", id = "ddlSubinventory", autocomplete = "off" })
        </div>
        <div id="ddlLocatorArea" class="form-group col col-md-4" style="display: none;">
            @Html.LabelFor(model => model.SelectedLocator, new { @class = "input-lg" })
            @Html.DropDownListFor(model => model.SelectedLocator, Model.LocatorItems, new { @class = "form-control", id = "ddlLocator", autocomplete = "off" })
        </div>
    </div>
</div>


<div class="row row-std col-md-12 form-inline">
    <div class="input-group col-xs-12 col-sm-5 col-md-4 col-lg-3">
        <span class="input-group-addon" style="width: 53px;">料號</span>
        <input class="form-control" type="text" id="txtItemNumber" placeholder="請輸入料號" />
    </div>
</div>*@


