@model CHPOUTSRCMES.Web.ViewModels.Purchase.PurchaseViewModel

@{
    ViewBag.EnableReturnButton = "true";
    ViewBag.Title = "編輯(平張)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/Purchase/detail.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/photo.css")" rel="stylesheet" type="text/css" />

@section scripts {
    <script src="~/bower_components/bootstrap-filestyle/src/bootstrap-filestyle.min.js"></script>
    <script src="~/Scripts/Purchase/Edit.js"></script>
    <script src="~/Scripts/Photo.js"></script>
}
@Html.HiddenFor(model => model.FlatDetailModel.Id, new { id = "Id" })
@Html.HiddenFor(model => model.Status, new { id = "Status" })

@{

    IEnumerable<SelectListItem> LocatorItems = (IEnumerable<SelectListItem>)ViewBag.LocatorItems;

    IEnumerable<SelectListItem> ReasonItems = (IEnumerable<SelectListItem>)ViewBag.ReasonItems;

}

<div class="row row-std customBody">
    <div class="col col-md-12">
        <div class="box box-success">


            <div class="box-body">

                <div class="col-md-12">

                    <div class="col-md-1 text-right">
                        @Html.LabelFor(model => model.CabinetNumber)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.CabinetNumber)
                    </div>
                    <div class="col-md-1 text-right" ">
                        @Html.LabelFor(model => model.FlatDetailModel.Item_No)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.FlatDetailModel.Item_No)
                    </div>
                    <div class="col-md-1 text-right" ">
                        @Html.LabelFor(model => model.FlatDetailModel.ReamWeight)
                    </div>
                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.FlatDetailModel.ReamWeight)
                    </div>


                </div>

                <div class="col-md-12">
                    <div class="col-md-1 text-right">
                        @Html.LabelFor(model => model.FlatDetailModel.Pieces_Qty)
                    </div>

                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.FlatDetailModel.Pieces_Qty)
                    </div>

                    <div class="col-md-1 text-right">
                        @Html.LabelFor(model => model.FlatDetailModel.Barcode)
                    </div>

                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.FlatDetailModel.Barcode)
                    </div>

                    <div class="col-md-1 text-right">
                        @Html.LabelFor(model => model.FlatDetailModel.Qty)
                    </div>

                    <div class="col-md-2">
                        @Html.DisplayFor(model => model.FlatDetailModel.Qty)
                    </div>

                </div>

            </div>
            <div class="box-footer">
                <div class="row row-std">
                    <div class="col-md-3">
                        <label class="col-md-6 text-right">異常原因</label>
                        <div class="col-md-6 form-inline">
                            @Html.DropDownListFor(model => model.Detail, ReasonItems, new { @class = "form-control", id = "select-reason" })
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="col-md-6 text-right">儲位</label>
                        <div class="col-md-6 form-inline">
                            @Html.DropDownListFor(model => model.Locator, LocatorItems, new { @class = "form-control", id = "select-Locator" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-std customBody">
    <div class="col col-md-4">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="fa fa-caret-right"><i></i>備註</h4>
            </div>
            <div class="box-body">
                <form role="form">
                    <div class="form-group">
                        <textarea style="width:100%;height:100%;" class="form-control" rows="3" id="textarea">@Html.DisplayFor(model =>model.FlatDetailModel.Remark)</textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col col-md-8">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="fa fa-caret-right"><i></i>照片上傳</h4>
            </div>
            <div class="box-body">
                <form class="col col-md-12">
                    <div class="form-inline">
                        <input type="file" class="filestyle col-md-10" id="fileinput" name="file" accept="image/*" data-icon="true" required data-buttonText="選擇照片" multiple data-size="lg">
                    </div>
                </form>
                <div class="col col-md-12">
                    <div class="row row-std" id="imgBox"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-std customBody">
    <div class="col col-md-12">
        <div class="box box-success">
            <div class="box-header">
                <h4 class="fa fa-caret-right"><i></i>已上傳的照片</h4>
            </div>
            <div class="box-body">
                <div class="col col-md-12">
                    <div class="row row-std" id="saveBox"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-std customBody">
    <div class="col col-md-12">
        <button class="btn btn-danger btn-lg" id="BtnFlatSave">存檔</button>
    </div>
</div>
