@model CHPOUTSRCMES.Web.ViewModels.Purchase.PurchaseViewModel
@{
    ViewBag.Title = "入庫-進櫃入庫";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/bower_components/fullcalendar/packages/core/main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/bower_components/fullcalendar/packages/daygrid/main.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/bower_components/fullcalendar/packages/bootstrap/main.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Purchase/index.css")" rel="stylesheet" type="text/css" />

@section scripts {

    <script src="~/bower_components/fullcalendar/packages/core/main.js"></script>
    <script src="~/bower_components/fullcalendar/packages/daygrid/main.js"></script>
    <script src="~/bower_components/fullcalendar/packages/moment/main.js"></script>
    <script src="~/bower_components/fullcalendar/packages/bootstrap/main.js"></script>
    <script src="~/Scripts/Purchase/index.js"></script>
}


<div class="box box-success">
    <div class="box-header">
        <div class="row fullcalendarHeader">
            <div class="form-inline">
                @{
                    IEnumerable<SelectListItem> MonthItems = (IEnumerable<SelectListItem>)ViewBag.MonthItems;
                    IEnumerable<SelectListItem> YearItems = (IEnumerable<SelectListItem>)ViewBag.YearItems;
                    IEnumerable<SelectListItem> SubinventoryItems = (IEnumerable<SelectListItem>)ViewBag.SubinventoryItems;
                    IEnumerable<SelectListItem> StatusItems = (IEnumerable<SelectListItem>)ViewBag.StatusItems;

                }
                <div class="col col-md-12">
                    <div class="form-group col-md-2">
                        @Html.DropDownListFor(model => model.Year, YearItems, new { @class = "form-control input-lg", id = "select-year" })
                        @Html.LabelFor(model => model.Year, new { @class = "input-lg" })
                    </div>

                    <div class="form-group col-md-2">
                        @Html.DropDownListFor(model => model.Month, MonthItems, new { @class = "form-control input-lg", id = "select-month" })
                        @Html.LabelFor(model => model.Month, new { @class = "input-lg" })
                    </div>

                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Subinventory, new { @class = "input-lg" })
                        @Html.DropDownListFor(model => model.Subinventory, SubinventoryItems, new { @class = "form-control input-lg", id = "select-warehouse" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Status, new { @class = "input-lg" })
                        @Html.DropDownListFor(model => model.Status, StatusItems, new { @class = "form-control input-lg", id = "select-Status" })
                    </div>
                    <div class="form-group col-md-1">
                        <button id="btn-refresh" class="btn btn-primary btn-lg">更新</button>
                    </div>
                    <div class="form-group col-md-1">
                        <button id="btnSearch" class="btn btn-primary btn-lg">查詢櫃號</button>
                    </div>
                </div>

                @*<div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.CabinetNumber, new { @class = "input-lg" })
                        @Html.TextBoxFor(model => model.CabinetNumber, new { @class = "form-control input-lg", id = "InputCabinetNumber", autocomplete = "off" })
                    </div>
                    <div class="form-group col-md-1">
                        <button id="btnSearch" class="btn btn-primary btn-lg">查詢櫃號</button>
                    </div>
                </div>*@

                @*<input type ="submit" value ="更新" class ="btn btn-success btn-sm" />*@
                @*@Html.ActionLink(" 更新", "Refresh", null, new { @class = "btn btn-success btn-sm glyphicon glyphicon-refresh" })*@


            </div>

        </div>
    </div>
    <div class="box-body">
        <div id="calendar" class="fc fc-theme-bootstrap col-md-12" />
    </div>
</div>


@*@Ajax.ActionLink("PDF", "GetLabel", "Purchase", new AjaxOptions { HttpMethod = "Post" , Url = Url.Action("GetLabel") })*@

@*@{
        var categories = new List<CHPOUTSRCMES.Web.Models.Purchase.PurchaseDetailModel>() { 6, 7 };

        var parameters = new RouteValueDictionary();

        for (int i = 0; i < categories.Count; ++i)
        {
            parameters.Add("category[" + i + "]", categories[i]);
        }
    }

    @Url.Action("GetLabel", "Purchase", new List<MES.Web.Models.Purchase.PurchaseDetailModel> abc new MES.Web.Models.Purchase.PurchaseDetailModel{1,"123",}})
    @Html.ActionLink("PDF", "GetLabel", null, new { @class = "btn btn-success btn-sm", target = "_blank"})*@<CHPOUTSRCMES.Web.Models.Purchase.PurchaseDetailModel>
    <MES.Web.Models.Purchase.PurchaseDetailModel>
        @*@using (Html.BeginForm("GetLabel", "Purchase", FormMethod.Post, new { target = "_blank" }))
            {
                <a href="javascript:;" onclick="document.forms[0].submit();">View PDF</a>
            }*@
        <a href="javascript:;" onclick="document.forms[0].submit();"></a>






