
@model CHPOUTSRCMES.Web.Models.Inventory.Inventory.FlatModel
@{
    ViewBag.EnableReturnButton = "true";
    ViewBag.Title = "庫存異動";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts {

    <script src="~/Scripts/Inventory/Index.js"></script>
    <script src="~/bower_components/editor/js/dataTables.editor.min.js"></script>
    <script src="~/bower_components/editor/js/editor.bootstrap.min.js"></script>

}

@Html.HiddenFor(model => model.Id, new { id = "Id" })


<div class="row-std">

    <div class="row row-std">
        <div class="dataTable_wrapper">
            <div class="col-sm-12 col-md-12">
                <table class="table table-striped table-bordered table-hover" id="FlatInventoryRecordTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("條碼號")
                            </th>
                            <th>
                                @Html.DisplayName("動作")
                            </th>
                            <th>
                                @Html.DisplayName("異動數量(令)")
                            </th>
                            <th>
                                @Html.DisplayName("異動原因")
                            </th>
                            <th>
                                @Html.DisplayName("異動人")
                            </th>
                            <th>
                                @Html.DisplayName("異動時間")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>



    </div>


</div>