@model CHPOUTSRCMES.Web.Models.Inventory.Inventory
@{
    ViewBag.Title = "庫存盤點";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts {

    <script src="~/Scripts/Inventory/Index.js"></script>
    <script src="~/bower_components/editor/js/dataTables.editor.min.js"></script>
    <script src="~/bower_components/editor/js/editor.bootstrap.min.js"></script>

}

@{

    IEnumerable<SelectListItem> Subinventory = (IEnumerable<SelectListItem>)ViewBag.Subinventory;
    IEnumerable<SelectListItem> Item_No = (IEnumerable<SelectListItem>)ViewBag.Item_No;
    IEnumerable<SelectListItem> PackingTypeItem = (IEnumerable<SelectListItem>)ViewBag.PackingTypeItem;
    IEnumerable<SelectListItem> PaperTypeItem = (IEnumerable<SelectListItem>)ViewBag.PaperTypeItem;
    IEnumerable<SelectListItem> LotNumberItem = (IEnumerable<SelectListItem>)ViewBag.LotNumberItem;
}



<div class="row row-std">

    <div class="row col-md-12">
        <div class="row row-std col-md-12">
            <h3 class="page-header">
                紙捲
            </h3>
        </div>
    </div>

    @* 倉庫 *@
    <div class="row col-md-12">
        <div class="form-inline col col-md-1 text-right">
            @Html.LabelFor(model => model.paperRollModel.Subinventory)
        </div>

        <div class="form-inline col col-md-1">
            @Html.DropDownListFor(model => model.paperRollModel.Subinventory, Subinventory, new { @class = "form-control form-control input-sm", id = "Subinventory" })
        </div>

        <div class="form-inline col col-md-1 text-right">
            @Html.LabelFor(model => model.paperRollModel.Item_No)
        </div>

        <div class="form-inline col col-md-2">
            @Html.DropDownListFor(model => model.paperRollModel.Item_No, Item_No, new { @class = "form-control form-control input-sm", id = "Item_No" })
        </div>


        <div class="form-inline col col-md-1 text-right">
            @Html.LabelFor(model => model.paperRollModel.PaperType)
        </div>

        <div class="form-inline col col-md-1">
            @Html.DropDownListFor(model => model.paperRollModel.PaperType, PaperTypeItem, new { @class = "form-control form-control input-sm", id = "PaperType" })
        </div>



        <div class="form-inline col col-md-1 text-right">
            @Html.LabelFor(model => model.paperRollModel.LotNumber)
        </div>

        <div class="form-inline col col-md-2">
            @Html.DropDownListFor(model => model.paperRollModel.LotNumber, LotNumberItem, new { @class = "form-control form-control input-sm", id = "LotNumber" })
        </div>


    </div>

    <div class="row col-md-12 form-group">
        <div class="col col-md-2">
            <button class="btn btn-primary" id="BtnPaperRollSearch">查詢</button>
        </div>
    </div>

    @* 紙捲 *@
    <div class="row row-std">
        <div class="dataTable_wrapper">
            <div class="col-sm-12 col-md-12">
                <table class="table table-striped table-bordered table-hover" id="InventoryPaperRollTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("項次")
                            </th>
                            <th>
                                @Html.DisplayName("條碼號")
                            </th>
                            <th>
                                @Html.DisplayName("料號")
                            </th>
                            <th>
                                @Html.DisplayName("紙別")
                            </th>
                            <th>
                                @Html.DisplayName("基重")
                            </th>
                            <th>
                                @Html.DisplayName("規格")
                            </th>
                            <th>
                                @Html.DisplayName("理論重")
                            </th>
                            <th>
                                @Html.DisplayName("捲號")
                            </th>
                            <th>
                                @Html.DisplayName("在庫")
                            </th>
                            <th>
                                @Html.DisplayName("盤點")
                            </th>
                            <th>
                                @Html.DisplayName("異動紀錄")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>



    </div>

    <div class="row col-md-12">
        <div class="row row-std col-md-12">
            <h3 class="page-header">
                平張
            </h3>
        </div>
    </div>

    @* 倉庫 *@
    <div class="row col-md-12">
        <div class="form-inline col col-md-1 text-right">
            @Html.LabelFor(model => model.flatModel.Subinventory)
        </div>

        <div class="form-inline col col-md-1">
            @Html.DropDownListFor(model => model.flatModel.Subinventory, Subinventory, new { @class = "form-control form-control input-sm", id = "FlatSubinventory" })
        </div>

        <div class="form-inline col col-md-1 text-right">
            @Html.LabelFor(model => model.flatModel.Item_No)
        </div>

        <div class="form-inline col col-md-2">
            @Html.DropDownListFor(model => model.flatModel.Item_No, Item_No, new { @class = "form-control form-control input-sm", id = "FlatItem_No" })
        </div>

        <div class="form-inline col col-md-1 text-right">
            @Html.LabelFor(model => model.flatModel.PackingType)
        </div>

        <div class="form-inline col col-md-1">
            @Html.DropDownListFor(model => model.flatModel.PackingType, PackingTypeItem, new { @class = "form-control form-control input-sm", id = "PackingType" })
        </div>
    </div>

    <div class="row col-md-12 form-group">
        <div class="col col-md-2">
            <button class="btn btn-primary" id="BtnFlatSearch">查詢</button>
        </div>
    </div>

    @* 平張 *@
    <div class="row row-std">
        <div class="dataTable_wrapper">
            <div class="col-sm-12 col-md-12">
                <table class="table table-striped table-bordered table-hover" id="InventoryFlatTable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("項次")
                            </th>
                            <th>
                                @Html.DisplayName("條碼號")
                            </th>
                            <th>
                                @Html.DisplayName("料號")
                            </th>
                            <th>
                                @Html.DisplayName("令重")
                            </th>
                            <th>
                                @Html.DisplayName("包裝方式")
                            </th>
                            <th>
                                @Html.DisplayName("令數")
                            </th>
                            <th>
                                @Html.DisplayName("盤點")
                            </th>
                            <th>
                                @Html.DisplayName("異動紀錄")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>



    </div>

</div>
